.nav-icons {
  width: fit-content;
  height: 48px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  button {
    width: 30px;
    height: 30px;
    padding: 0;
    margin-right: 8px;
  }

  svg {
    color: black;
    stroke: white;
    stroke-width: 0.7px;
  }
}