.nav-icons {
  width: fit-content;
  height: 48px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  a:not(:last-child) {
    margin-right: 8px;
  }
  
  a:last-child {
    margin-left: 4px;
  }

  button {
    width: 30px;
    height: 30px;
  }

  svg {
    color: black;
    stroke: white;
    stroke-width: 0.7px;
  }
}