@import '../../../scss/variables';

.required {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p, svg {
    color: $data;
  }

  svg {
    height: 14px;
    width: 14px;
    margin: 2px 0 0 5px;
  }
}