@import '../../../scss/variables';

.post-card {
  min-height: 100px;
  max-height: 180px;
  position: relative;
  overflow: hidden;

  .post-card-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 0 5px;
    box-sizing: border-box;

    .post-card-top, .post-card-bottom {
      width: 100%;
      margin: 5px 0;
      display: flex;
      justify-content: space-between;
    }

    .post-card-top-left {
      h6 {
        margin-top: 3px;
      }

      h6:last-child {
        color: $data;
        font-weight: 500;
      }
    }

    .post-card-bottom {
      .post-card-imgs {
        display: flex;
      
        .post-card-img-container {
          width: 30px;
          height: 30px;
          border-radius: 5px;
          overflow: hidden;
          flex-shrink: 0;
      
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      
        .post-card-img-container:not(:first-child) {
          margin-left: 5px;
        }
      }

      .post-card-icons {
        display: flex;
        align-items: flex-end;

        .button-wrapper {
          width: 30px;
          height: 30px;
          border: 1px solid $color-1;
          background: white;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;

          svg {
            width: 20px;
            height: 20px;
          }
        }

        .button-wrapper:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
  }
}