.mui-spinner {
  width: fit-content;
  height: fit-content;

  svg {
    color: rgba(0, 0, 0, 0.54);
  }
}

.mui-spinner-absolute, .mui-spinner-vp, .mui-spinner-icon, .mui-spinner-form {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mui-spinner-vp {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.mui-spinner-icon {
  right: 12px;
}

.mui-spinner-form {
  width: 100%;
  height: 100%;
  background: white;
  z-index: 2;
}