.MuiTypography-root, .mui-text-field, .mui-text-field-comment, .mui-btn, .mui-form-btn, .mui-tab, .mui-tab-logo, .mui-date-time, button {
  font-family: 'Ubuntu', sans-serif !important;
  font-weight: 300 !important;
  text-transform: none !important;

  label, input, div {
    font-family: 'Ubuntu', sans-serif !important;
    font-weight: 300 !important;
  }
}

.mui-text-field {
  width: 100%;
}

.mui-text-field-comment {
  width: calc(100% + 8px);
  position: absolute !important;
  bottom: -2px !important;
  left: -4px !important;

  .MuiOutlinedInput-root {
    padding: 0 !important;
  }

  input, label {
    font-size: 0.83em;
    margin-left: 5px;
  }
}

.mui-form-btn, .mui-btn {
  color: black !important;
  box-shadow: none !important;
  padding: 3px 9px !important;
  border: none !important;
  border-radius: 5px !important;
}:disabled {
  color: rgba(0, 0, 0, 0.26) !important;
}

.mui-btn {
  background-color: white !important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
}

.mui-tab-logo {
  color: black !important;
  opacity: 1 !important;
  padding: 6px 12px 6px 0 !important;
}

.mui-tab {
  color: rgba(0, 0, 0, 0.6) !important;
}.Mui-selected {
  color: black !important;
}

.mui-date-time {
  width: 50%;
  height: 56px !important;

  div {
    height: 56px !important;
    border-radius: 5px !important;
  }
}

.mui-input-btn {
  font-size: 0.83em !important;
  color: inherit !important;
  border-radius: 0 !important;
}

.mui-input-ad-disabled {
  p {
    color: rgba(0, 0, 0, 0.26) !important;
  }
}